<p ng-if="!model.battles.length">No battles happened during this match.</p>
<md-content>
    <md-card>
        <md-card-actions layout="row" layout-align="center">
            <div layout="column" layout-padding>
                <div layout-gt-sm="row">
                    <md-switch ng-model="model.small" aria-label="Switch small">
                        Show Small Battles
                    </md-switch>
                    <md-switch ng-model="model.medium" aria-label="Switch medium">
                        Show Medium Battles
                    </md-switch>
                    <md-switch ng-model="model.large" aria-label="Switch large">
                        Show Large Battles
                    </md-switch>
                </div>
            </div>
        </md-card-actions>
    </md-card>
    <md-card ng-repeat="i in model.getNumber(model.battles.length) track by $index">
        <div ng-show="model.showBattle($index)">
            <md-card-content>
                <h2>Battle #{{$index+1}}</h2>
                <div layout="row">
                    <div id="Player 1 Panel" layout="row" flex="50">
                        <h3>{{model.player1}}: </h3>
                        <h3 ng-if="(model.battles[$index].winner === 1)" style="color:darkgreen"> VICTORY</h3>
                        <h3 ng-if="(model.battles[$index].winner === 2)" style="color:red"> DEFEAT</h3>
                    </div>
                    <div id="Player 2 Panel" layout="row" flex>
                        <h3>{{model.player2}}: </h3>
                        <h3 ng-if="(model.battles[$index].winner === 2)" style="color:darkgreen"> VICTORY</h3>
                        <h3 ng-if="(model.battles[$index].winner === 1)" style="color:red"> DEFEAT</h3>
                    </div>
                </div>
                <div layout="row">
                    <div id="Player 1 Panel" style="display: inline-block" flex="50">
                        <ng-md-icon icon="layers"></ng-md-icon> {{model.battles[$index].SupplyCost1}}
                        <ng-md-icon icon="flash_on"></ng-md-icon> {{model.battles[$index].EnergyCost1}}
                        <ng-md-icon icon="group"></ng-md-icon> {{model.battles[$index].PopulationCost1}}
                        <br/>
                        <ng-md-icon icon="layers" style="color:red"></ng-md-icon> {{model.battles[$index].SupplyLost1}}
                        <ng-md-icon icon="flash_on" style="color:red"></ng-md-icon> {{model.battles[$index].EnergyLost1}}
                        <ng-md-icon icon="group" style="color:red"></ng-md-icon> {{model.battles[$index].PopulationLost1}}
                        <p>Army size is {{model.analizedArmiesPlayer1[$index].length}} units.</p>
                        <div style="display: inline-block" ng-repeat="unit in model.analizedArmiesPlayer1[$index] | orderBy: 'name'">
                            <img ng-click="model.selectUnit($event, unit)" ng-src="{{unit.mediaUrl}}" alt="{{unit.SquadId}}" width="50" height="50" class="unit-icon"
                                ng-style="{ '-webkit-filter' : (unit.killed) ? 'sepia(100%)' : 'sepia(0%)' }" />
                            <!--{{unit.InstanceId}}
                            <span ng-if="unit.gotcha">
                                X
                            </span>-->
                        </div>
                    </div>
                    <div id="Player 2 Panel" style="display: inline-block" flex="50">
                        <ng-md-icon icon="layers"></ng-md-icon> {{model.battles[$index].SupplyCost2}}
                        <ng-md-icon icon="flash_on"></ng-md-icon> {{model.battles[$index].EnergyCost2}}
                        <ng-md-icon icon="group"></ng-md-icon> {{model.battles[$index].PopulationCost2}}
                        <br/>
                        <ng-md-icon icon="layers" style="color:red"></ng-md-icon> {{model.battles[$index].SupplyLost2}}
                        <ng-md-icon icon="flash_on" style="color:red"></ng-md-icon> {{model.battles[$index].EnergyLost2}}
                        <ng-md-icon icon="group" style="color:red"></ng-md-icon> {{model.battles[$index].PopulationLost2}}
                        <p>Army size is {{model.analizedArmiesPlayer2[$index].length}} units.</p>
                        <div style="display: inline-block" ng-repeat="unit in model.analizedArmiesPlayer2[$index] | orderBy: 'name'">
                            <img ng-click="model.selectUnit($event, unit)" ng-src="{{unit.mediaUrl}}" alt="{{unit.SquadId}}" width="50" height="50" class="unit-icon"
                                ng-style="{ '-webkit-filter' : (unit.killed) ? 'sepia(100%)' : 'sepia(0%)' }" />
                            <!--{{unit.InstanceId}}
                            <span ng-if="unit.gotcha">
                                X
                            </span>-->
                        </div>
                    </div>
                </div>
                <md-divider ng-if="!$last"></md-divider>
                <div layout="row">
                    <div id="Player 1 Reinforcements" style="display: inline-block" flex="50" ng-show="{{model.reinforcementsPlayer1.length > 0}}">
                        <br/>
                        <ng-md-icon icon="layers"></ng-md-icon> {{model.battles[$index].RSupplyCost1}}
                        <ng-md-icon icon="flash_on"></ng-md-icon> {{model.battles[$index].REnergyCost1}}
                        <ng-md-icon icon="group"></ng-md-icon> {{model.battles[$index].RPopulationCost1}}
                        <br/>
                        <ng-md-icon icon="layers" style="color:red"></ng-md-icon> {{model.battles[$index].RSupplyLost1}}
                        <ng-md-icon icon="flash_on" style="color:red"></ng-md-icon> {{model.battles[$index].REnergyLost1}}
                        <ng-md-icon icon="group" style="color:red"></ng-md-icon> {{model.battles[$index].RPopulationLost1}}
                        <p>Reinforcements size is {{model.reinforcementsPlayer1[$index].length}} units.</p>
                        <div style="display: inline-block" ng-repeat="unit in model.reinforcementsPlayer1[$index] | orderBy: 'name'">
                            <img ng-click="model.selectUnit($event, unit)" ng-src="{{unit.mediaUrl}}" alt="{{unit.SquadId}}" width="50" height="50" class="unit-icon"
                                ng-style="{ '-webkit-filter' : (unit.killed) ? 'sepia(100%)' : 'sepia(0%)' }" />
                            <!--{{unit.InstanceId}}
                            <span ng-if="unit.gotcha">
                                X
                            </span>-->
                        </div>
                    </div>
                    <div id="Player 2 Reinforcements" style="display: inline-block" flex="50">
                        <br/>
                        <ng-md-icon icon="layers"></ng-md-icon> {{model.battles[$index].RSupplyCost2}}
                        <ng-md-icon icon="flash_on"></ng-md-icon> {{model.battles[$index].REnergyCost2}}
                        <ng-md-icon icon="group"></ng-md-icon> {{model.battles[$index].RPopulationCost2}}
                        <br/>
                        <ng-md-icon icon="layers" style="color:red"></ng-md-icon> {{model.battles[$index].RSupplyLost2}}
                        <ng-md-icon icon="flash_on" style="color:red"></ng-md-icon> {{model.battles[$index].REnergyLost2}}
                        <ng-md-icon icon="group" style="color:red"></ng-md-icon> {{model.battles[$index].RPopulationLost2}}
                        <p>Reinforcements size is {{model.reinforcementsPlayer2[$index].length}} units.</p>
                        <div style="display: inline-block" ng-repeat="unit in model.reinforcementsPlayer2[$index] | orderBy: 'name'">
                            <img ng-click="model.selectUnit($event, unit)" ng-src="{{unit.mediaUrl}}" alt="{{unit.SquadId}}" width="50" height="50" class="unit-icon"
                                ng-style="{ '-webkit-filter' : (unit.killed) ? 'sepia(100%)' : 'sepia(0%)' }" />
                            <!--{{unit.InstanceId}}
                            <span ng-if="unit.gotcha">
                                X
                            </span>-->
                        </div>
                    </div>
                </div>
                <md-divider ng-if="!$last"></md-divider>
                <div>
                    <h3>Battle Type: {{model.battles[$index].size}} </h3>
                    <p>{{model.battles[$index].deaths.length}} units/buildings killed from {{model.secondsToTime(model.battles[$index].start)}}
                        to {{model.secondsToTime(model.battles[$index].finish)}}.</p>
                    <div style="display: inline-block" ng-repeat="unit in model.battles[$index].deaths | orderBy: 'name'">
                        <div>
                            <img ng-click="model.selectUnit($event, unit)" ng-src="{{unit.mediaUrl}}" alt="{{unit.VictimObjectTypeId}}" width="50" height="50"
                                class="unit-icon" style="-webkit-filter: sepia(100%);" />
                            <!--{{unit.VictimInstanceId}}-->
                        </div>
                    </div>
                </div>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button ng-click="model.removeBattle(model.battles[$index])">Remove</md-button>
            </md-card-actions>
        </div>
    </md-card>
</md-content>