html, body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    margin:0px;
    padding:0px;
    background: #E0E0E0;
}

md-toolbar h1 {
    font-size: 1.250em;
    font-weight: 400;
    margin: auto
}

md-toolbar .md-toolbar-tools h1 {
    font-size: 1.250em;
    font-weight: 400;
}

md-list .md-button {
    color: inherit;
    font-weight: 500;
    text-align: left;
    width: 95%;
    border-radius: 5px
}

md-list .md-button.selected {
    color: #03a9f4;
}

md-sidenav md-list {
    padding: 0px 0px 8px 0px;
}

ng-md-icon {
    vertical-align: middle;
}

md-content {
    background: #E0E0E0;
}

#content {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    background: #E0E0E0;
}

#content img.avatar {
    margin-top: 10px;
}

.avatar {
    position: relative;
    width: 128px;
    height: 128px;
    border: 1px solid #ddd;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    margin: 0px;
    vertical-align: middle;
    zoom:0.70;
    transform: translateZ(0);
    -webkit-transform: scale(0.70);
    -moz-transform:scale(0.70);    
}

.leader-div {
    height: 100%; /* Suggestive number; pick your own height as desired */
    position: relative;
    overflow: hidden; /* This will do the magic */
    width: 100%; /* Pick an appropriate width as desired, unless you already use a grid, in that case use 100% */
}
.leader {
    width: 100%;
    position: absolute;
    left: 15%;
    top: 40%;
    height: auto;

    zoom:2;
    transform: translateZ(0);
    -webkit-transform: scale(2);
    -moz-transform:scale(2); 
}

.map {
    position: absolute;
    top: -40%;
    height: auto;
    transform: translateZ(0);
}

.scrollable-bottom-sheet {
    position: fixed;
}

span.name {
    font-weight: bold;
    font-size: 1.1em;
    padding-left: 5px;
}

.date-row {
    margin: 16px 0px;
}

.list-details {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.unit-div {
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    width: 80%;
    height: 80%;
    /*border-radius: 50%;*/
}

.unit-icon {
    width: 100%;
    position: absolute;
    height: auto;
    top: 0;
    left: 0;
    /*border-radius: 75%;
    background: white;*/
    zoom: 1.3;
    transform: translateZ(0);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
}

.justify {
    text-align: justify;
}

.wrap {
    word-wrap: break-word;
    white-space: normal !important
}

.rank {
    width: 50%;
    right: -5%;
    bottom: -5%;
    position: absolute;
    height: auto;
    padding: 0px;
    margin: 0px;
    zoom: 0.70;
    transform: translateZ(0);
    -webkit-transform: scale(0.70);
    -moz-transform: scale(0.70);   
}

.resource-text {
    padding-right: 5px; 
    text-align:center;
}

.resource-vertical-divider {
    border-left: thick solid black;
}

.resource-data {
    padding-left: 4px;
}

.grid-tile {
    box-sizing: border-box;
    border-radius: 2px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
}

.leader-tile-footer {
    font-size: 14px;
    text-align: left;
    font-weight: bold;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    margin: 0 !important;
    background: inherit;
}

.main-background{    
    position:relative;
    background:url('https://lh3.googleusercontent.com/pG2OgSp0bjJySupbRePXCNIIiFSlylgepnniHPknNwNB2jnZQijrPaDAauVCk9cVeolcrs3wTDU7ffOusfqE6iy0-G48pYrHy8x9G_H2uQ4iFBiAtvcy6QPrc7YQ8bT5YaA9qBndOLZVOxnxuFmc-wfuBgYwfRi7tMnt7-v6fVMQ3rT4TBmsRMAtCFguVyC1ImQyCfgmL1ywZaWRFe6clFfi9JpBpry0WoHyCcCVUeo9eZJ_sSShM3YpgOy8qWD8fshpdu2suS5O3ZlP9vvdhIfSTnDwyOnHGsHQC7DMnGE6VHNlQqY0vulqqLkoXNBepYxycpR45iq88gbHP12CgBEZnKtg29rUXQW-kSyOtf2-GchH_-K8Ly6TuPswP_4qD7BdEhiJDevYwmkwv_xOMFuCtVOTjJbz98679RAE34KAB6zOTs60GSknanOcpiWtdNQTF9LiDR1bPtQXotdRGl1qVCNI1Pg5QTnAg3R0A7ZO7ADNhwE8kc6EfwoKJJLfoEp883Vg58XLea9CIgEainXL5rWaCFBCd3Qmdu7hmmn92HF_h2uZOPcdHsXBn_G3Pf8EcxetcLOHOziSE2oRcCM3Kuy5IH1BEWEJZ5lvSOKq7XKC134kECVn4w=w1920-h1080-no') no-repeat center;
    background-size: cover;
    width:100%; 
    min-height: auto; 
    overflow:hidden;
    margin:0%;
}

.main-background:after{
    border-radius: 5px;
    content:'';
    background:white;
    position:absolute;
    top:0;
    left:0;
    opacity:0.5;
    width:50%; height:80%;
    margin: 5% 25% 12.5% 12.5%;
}

.main-frame{
    color:white;
    position:relative;
    z-index:1;    
    width:45%;
    margin: 7% 23% 25% 15%;
}

.main-mobile-background {
    position:relative;
    overflow:hidden;
    min-height:600px;
    height:100%;
    background: black;
}

.main-mobile-background-img {
    zoom:3;
    transform: translateZ(0);
    -webkit-transform: scale(3);
    -moz-transform:scale(3);
    height: auto;
    width: 100%;
    top: 30%;
    left: 25%;
    position: absolute;
}

.main-toolbar {
    background-color: black;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 5px, rgba(50,50,50,.5) 5px, rgba(50,50,50,.5) 10px);
}