<p class="md-body-2">
    Feedback is highly appreciated: <a href="mailto:isaachaloelrey13@gmail.com">isaachaloelrey13@gmail.com</a>
</p>
<p class="md-caption">
    This application is offered by Acid Sloth, which is solely responsible for its content. It is not sponsored or endorsed by
    Microsoft. This application uses the Halo® Game Data API. Halo © 2017 Microsoft Corporation. All rights reserved. Microsoft,
    Halo, and the Halo Logo are trademarks of the Microsoft group of companies.
</p>