<h1 class="md-display-2">HOW DO I USE THE APP?</h1>
<p class="md-body-2">
    Here you can see an image of the application with several Points of Interest detailing every component of the application,
    hover over the small red circles with a cross inside to display tooltips on what each component does.
</p>
<br>
<md-divider></md-divider>
<br>
<div class="cd-product cd-container">
    <div class="cd-product-wrapper">
        <img src="/lib/tutorial/fullc.png" alt="Preview image">
        <ul>
            <li class="cd-single-point">
                <a class="cd-img-replace" href="#0">More</a>
                <div class="cd-more-info cd-right">
                    <h3>ENTER YOUR GAMERTAG</h3>
                    <p>
                        Type your Xbox Live gamertag in the text field and click GO to look at your recent games.
                    </p>
                    <a href="#0" class="cd-close-info cd-img-replace">Close</a>
                </div>
            </li>
            <!-- .cd-single-point -->

            <li class="cd-single-point">
                <a class="cd-img-replace" href="#0">More</a>
                <div class="cd-more-info cd-right">
                    <h3>MATCH HISTORY</h3>
                    <p>
                        Once you enter your gamertag you will find a list of your 10 most recent games.
                    </p>
                    <a href="#0" class="cd-close-info cd-img-replace">Close</a>
                </div>
            </li>
            <!-- .cd-single-point -->

            <li class="cd-single-point">
                <a class="cd-img-replace" href="#0">More</a>
                <div class="cd-more-info cd-right">
                    <h3>PAGE CONTROLS</h3>
                    <p>
                        Use the forward or backwards buttons to retrieve the next 10 games (older) or the previous 10 games (most recent).
                    </p>
                    <a href="#0" class="cd-close-info cd-img-replace">Close</a>
                </div>
            </li>
            <!-- .cd-single-point -->

            <li class="cd-single-point">
                <a class="cd-img-replace" href="#0">More</a>
                <div class="cd-more-info cd-right">
                    <h3>SELECTED MATCH</h3>
                    <p>
                        You can select a match (light blue) to display detailed information about it in the right panel.
                    </p>
                    <a href="#0" class="cd-close-info cd-img-replace">Close</a>
                </div>
            </li>
            <!-- .cd-single-point -->
            <li class="cd-single-point">
                <a class="cd-img-replace" href="#0">More</a>
                <div class="cd-more-info cd-right">
                    <h3>STATISTICS TAB</h3>
                    <p>
                        Click on the statistics tab to obtain a summary of the match including: map, leaders, victors, total units built/lost/destroyed
                        by unit type.
                    </p>
                    <a href="#0" class="cd-close-info cd-img-replace">Close</a>
                </div>
            </li>
            <!-- .cd-single-point -->
            <li class="cd-single-point">
                <a class="cd-img-replace" href="#0">More</a>
                <div class="cd-more-info cd-left">
                    <h3>BATTLES TAB</h3>
                    <p>
                        Click on the battles tab to obtain detailed information on each battle that ocurred during the game.
                    </p>
                    <a href="#0" class="cd-close-info cd-img-replace">Close</a>
                </div>
            </li>
            <!-- .cd-single-point -->
            <li class="cd-single-point">
                <a class="cd-img-replace" href="#0">More</a>
                <div class="cd-more-info cd-left">
                    <h3>FILTER CONTROLS</h3>
                    <p>
                        Use the switches to display only the battles you're most interested in. You can filter by size.
                    </p>
                    <a href="#0" class="cd-close-info cd-img-replace">Close</a>
                </div>
            </li>
            <!-- .cd-single-point -->
            <li class="cd-single-point">
                <a class="cd-img-replace" href="#0">More</a>
                <div class="cd-more-info cd-left">
                    <h3>BATTLE INFO CARD</h3>
                    <p>
                        This is the battle info card. A single game can contain many battle cards with very detailed information. Such as who won
                        said battle, army composition, reinforcements (if any) and much more.
                    </p>
                    <a href="#0" class="cd-close-info cd-img-replace">Close</a>
                </div>
            </li>
            <!-- .cd-single-point -->
            <li class="cd-single-point">
                <a class="cd-img-replace" href="#0">More</a>
                <div class="cd-more-info cd-right">
                    <h3>ARMY COST</h3>
                    <p>
                        Here you can see the Supply, Power and Population Cost for your army (black), as well as how many resources you lost (red).
                        The player with the highest population at the end of the battle is declared the winner.
                    </p>
                    <a href="#0" class="cd-close-info cd-img-replace">Close</a>
                </div>
            </li>
            <!-- .cd-single-point -->
            <li class="cd-single-point">
                <a class="cd-img-replace" href="#0">More</a>
                <div class="cd-more-info cd-right">
                    <h3>ARMY COMPOSITION</h3>
                    <p>
                        Units that compose an army at a given time are displayed individually, and you can compare it with your enemy's. For example
                        you can see the army was composed of four grunts and a chopper, three of them were killed.
                    </p>
                    <a href="#0" class="cd-close-info cd-img-replace">Close</a>
                </div>
            </li>
            <!-- .cd-single-point -->
            <li class="cd-single-point">
                <a class="cd-img-replace" href="#0">More</a>
                <div class="cd-more-info cd-top">
                    <h3>REINFORCEMENTS COMPOSITION</h3>
                    <p>
                        Aditionally, you can see both player's reinforcements. Units built during the battle or dropped by leader powers are shown
                        here.

                    </p>
                    <a href="#0" class="cd-close-info cd-img-replace">Close</a>
                </div>
            </li>
            <!-- .cd-single-point -->
            <li class="cd-single-point">
                <a class="cd-img-replace" href="#0">More</a>
                <div class="cd-more-info cd-top">
                    <h3>OUTCOME</h3>
                    <p>
                        The bottom portion of the Battle Info Card shows the outcome of the battle, detailing the size of the battle, the game time
                        it ocurred on, amount of units killed and of course each of the units killed.
                    </p>
                    <a href="#0" class="cd-close-info cd-img-replace">Close</a>
                </div>
            </li>
            <!-- .cd-single-point -->
            <li class="cd-single-point">
                <a class="cd-img-replace" href="#0">More</a>
                <div class="cd-more-info cd-top">
                    <h2>REMOVE CARD</h2>
                    <p>
                        Click this button when you don't want to display a certain card anymore. Don't worry, reselecting a match brings it back!
                    </p>
                    <a href="#0" class="cd-close-info cd-img-replace">Close</a>
                </div>
            </li>
            <!-- .cd-single-point -->
            <li class="cd-single-point">
                <a class="cd-img-replace" href="#0">More</a>
                <div class="cd-more-info cd-left">
                    <h2>UNIT DETAILS</h2>
                    <p>
                        At any time in any of the panels you can click a specific unit to obtain detailed data about it such as costs and which enemy
                        units contributed to the unit getting killed.
                    </p>
                    <a href="#0" class="cd-close-info cd-img-replace">Close</a>
                </div>
            </li>
            <!-- .cd-single-point -->
        </ul>
    </div>
</div>