<div>
    <p class="md-body-2 justify">
        Hover over the small red circles with a cross inside to display tooltips on what each component does.
    </p>
    <br>
    <br>
    <div class="cd-product cd-container">
        <div class="cd-product-wrapper">
            <img ng-src="{{model.poimap}}" alt="Preview image">
            <ul>
                <li class="cd-single-point">
                    <a class="cd-img-replace" href="#0">More</a>
                    <div class="cd-more-info cd-right">
                        <h3>BATTLE SIZE AND INDEX</h3>
                        <p>
                            Battles come in three different sizes: small, medium and large. The size depends on the amount of units destroyed.
                        </p>
                        <a class="cd-close-info cd-img-replace">Close</a>
                    </div>
                </li>
                <!-- .cd-single-point -->

                <li class="cd-single-point">
                    <a class="cd-img-replace" href="#0">More</a>
                    <div class="cd-more-info cd-right">
                        <h3>COMPOSITION CHART</h3>
                        <p>
                            This chart displays the % of each type of unit in your army (AIR, INFANTRY, VEHICLE) in your army.
                        </p>
                        <a class="cd-close-info cd-img-replace">Close</a>
                    </div>
                </li>
                <!-- .cd-single-point -->

                <li class="cd-single-point">
                    <a class="cd-img-replace" href="#0">More</a>
                    <div class="cd-more-info cd-right">
                        <h3>PLAYER 1 AND LEADER</h3>
                        <p>
                            This tile displays the player 1's gamertag and his leader. The color of the background indicates if he won the battle (green)
                            or if he lost the battle (red).
                        </p>
                        <a class="cd-close-info cd-img-replace">Close</a>
                    </div>
                </li>
                <!-- .cd-single-point -->

                <li class="cd-single-point">
                    <a class="cd-img-replace" href="#0">More</a>
                    <div class="cd-more-info cd-right">
                        <h3>REINFORCEMENTS CHARTS</h3>
                        <p>
                            The reinforcements section also has its own set of charts for composition and effectiveness, it lets you see how quickly
                            a player can transition his production.
                        </p>
                        <a class="cd-close-info cd-img-replace">Close</a>
                    </div>
                </li>
                <!-- .cd-single-point -->
                <li class="cd-single-point">
                    <a class="cd-img-replace" href="#0">More</a>
                    <div class="cd-more-info cd-right">
                        <h3>PLAYER 2 AND LEADER</h3>
                        <p>
                            Every section from player 1 is also available for player 2 side by side for comparison. Gamertag, Army Cost, Charts, Units...
                        </p>
                        <a class="cd-close-info cd-img-replace">Close</a>
                    </div>
                </li>
                <!-- .cd-single-point -->
                <li class="cd-single-point">
                    <a class="cd-img-replace" href="#0">More</a>
                    <div class="cd-more-info cd-left">
                        <h3>DISPLAY CHARTS</h3>
                        <p>
                            Click on the chart icon to obtain data on army composition and army strengths.
                        </p>
                        <a class="cd-close-info cd-img-replace">Close</a>
                    </div>
                </li>
                <!-- .cd-single-point -->
                <li class="cd-single-point">
                    <a class="cd-img-replace" href="#0">More</a>
                    <div class="cd-more-info cd-left">
                        <h3>EFFECTIVENESS CHART</h3>
                        <p>
                            This chart displays your army effectiveness against each type: Against AIR, against VEHICLE, against INFANTRY, and the chart
                            also displays how much SUPPORT your army has.
                        </p>
                        <a class="cd-close-info cd-img-replace">Close</a>
                    </div>
                </li>
                <!-- .cd-single-point -->
                <li class="cd-single-point">
                    <a class="cd-img-replace" href="#0">More</a>
                    <div class="cd-more-info cd-left">
                        <h3>UNIT KILLED</h3>
                        <p>
                            Units killed during the battle are shown in sepia tone. Surviving units are shown in gray-blue tone.
                        </p>
                        <a class="cd-close-info cd-img-replace">Close</a>
                    </div>
                </li>
                <!-- .cd-single-point -->
                <li class="cd-single-point">
                    <a class="cd-img-replace" href="#0">More</a>
                    <div class="cd-more-info cd-right">
                        <h3>ARMY COST</h3>
                        <p>
                            Here you can see the Supply, Power and Population Cost for your army, as well as how many resources you lost (USED/LOST).
                            The player with the highest population at the end of the battle is declared the winner.
                        </p>
                        <a class="cd-close-info cd-img-replace">Close</a>
                    </div>
                </li>
                <!-- .cd-single-point -->
                <li class="cd-single-point">
                    <a class="cd-img-replace" href="#0">More</a>
                    <div class="cd-more-info cd-right">
                        <h3>ARMY COMPOSITION</h3>
                        <p>
                            Units that compose an army at a given time are displayed individually, and you can compare it with your enemy's. Hero units
                            are shown in Yellow tiles, normal units are shown in the player's color and super units and ultimate
                            units are shown in big dark tiles.
                        </p>
                        <a class="cd-close-info cd-img-replace">Close</a>
                    </div>
                </li>
                <!-- .cd-single-point -->
                <li class="cd-single-point">
                    <a class="cd-img-replace" href="#0">More</a>
                    <div class="cd-more-info cd-top">
                        <h3>REINFORCEMENTS COMPOSITION</h3>
                        <p>
                            Aditionally, you can see both player's reinforcements. Units built during the battle or dropped by leader powers are shown
                            here.

                        </p>
                        <a class="cd-close-info cd-img-replace">Close</a>
                    </div>
                </li>
                <!-- .cd-single-point -->
                <li class="cd-single-point">
                    <a class="cd-img-replace" href="#0">More</a>
                    <div class="cd-more-info cd-top">
                        <h3>OUTCOME</h3>
                        <p>
                            The bottom portion of the Battle Info Card shows the outcome of the battle, displaying a list of all the units and buildings
                            destroyed during the battle.
                        </p>
                        <a class="cd-close-info cd-img-replace">Close</a>
                    </div>
                </li>
                <!-- .cd-single-point -->
                <li class="cd-single-point">
                    <a class="cd-img-replace" href="#0">More</a>
                    <div class="cd-more-info cd-left">
                        <h2>REMOVE CARD</h2>
                        <p>
                            Click this button when you don't want to display a certain card anymore. Don't worry, reselecting a match brings it back!
                        </p>
                        <a class="cd-close-info cd-img-replace">Close</a>
                    </div>
                </li>
                <!-- .cd-single-point -->
                <li class="cd-single-point">
                    <a class="cd-img-replace" href="#0">More</a>
                    <div class="cd-more-info cd-left">
                        <h2>UNIT DETAILS</h2>
                        <p>
                            At any time in any of the panels you can click a specific unit to obtain detailed data about it such as costs and which enemy
                            units contributed to the unit getting killed.
                        </p>
                        <a class="cd-close-info cd-img-replace">Close</a>
                    </div>
                </li>
                <!-- .cd-single-point -->
            </ul>
        </div>
    </div>
</div>