<div>
    <h1 class="md-display-2">WELCOME TO THE HALO WARS 2 COMMANDER APP</h1>
    <p class="md-body-2">
        Commander App is your personal Halo Wars 2 companion and provides you with the best detailed information on your games for
        you to improve your skils. Get crucial insights on every match and find out where you shine and where you need
        to improve on. The app is currently in BETA phase and supports only Halo Wars 2 on the 1v1 Ranked Playlist. More
        gamemodes can be considered for the future such as Blitz and Skirmish.
    </p>
    <p class="md-body-2">
        <div flex>
            <md-content>
                <md-list flex>
                    <md-subheader class="md-no-sticky">Commander App's Features:</md-subheader>
                    <md-list-item class="md-3-line">
                        <img ng-src="/lib/tutorial/sof.jpg" class="md-avatar" alt="-" />
                        <div class="md-list-item-text" layout="column">
                            <h3>Paginated List of all your 1v1 matches.</h3>
                            <h4>Type in your gamertag to see all your 1v1 matches.</h4>
                            <p>You can also take a look at other people's games!</p>
                        </div>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item class="md-3-line">
                        <img ng-src="/lib/tutorial/sof.jpg" class="md-avatar" alt="-" />
                        <div class="md-list-item-text" layout="column">
                            <h3>
                                Summary of each match.
                            </h3>
                            <h4>Data includes map, leaders, victors, total units built/lost/destroyed by unit type.</h4>
                            <p>You can see which of your units never survive or which units you had trouble getting rid of!</p>
                        </div>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item class="md-3-line">
                        <img ng-src="/lib/tutorial/sof.jpg" class="md-avatar" alt="-" />
                        <div class="md-list-item-text" layout="column">
                            <h3>Detailed performance of each match in the form of Battles.</h3>
                            <h4>Battles are determined by the amount of units that died in a linked period of time.</h4>
                            <p>Battles can be classified by small, medium or large.</p>
                        </div>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item class="md-3-line">
                        <img ng-src="/lib/tutorial/sof.jpg" class="md-avatar" alt="-" />
                        <div class="md-list-item-text" layout="column">
                            <h3>Filter out battles by size using the controls at the top of the Battles tab.</h3>
                            <h4>You can also remove specific battles by clicking the Remove button on its card.</h4>
                            <p></p>
                        </div>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item class="md-3-line">
                        <img ng-src="/lib/tutorial/sof.jpg" class="md-avatar" alt="-" />
                        <div class="md-list-item-text" layout="column">
                            <h3>Each Battle contains detailed information on costs, units and kills.</h3>
                            <h4>Battles show your current Battle as well as reinforcements (units built in during the duration
                                of a battle).</h4>
                            <p>You can see which player won each battle and see how much resources your army cost as well as
                                how much resources you lost.</p>
                        </div>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item class="md-3-line">
                        <img ng-src="/lib/tutorial/sof.jpg" class="md-avatar" alt="-" />
                        <div class="md-list-item-text" layout="column">
                            <h3>Check detailed information on each unit.</h3>
                            <h4>You can see individual costs, as well as indicators for Living and Dead units.</h4>
                            <p>By clicking a specific unit of interest you can see which units killed it.</p>
                        </div>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item class="md-3-line">
                        <img ng-src="/lib/tutorial/sof.jpg" class="md-avatar" alt="-" />
                        <div class="md-list-item-text" layout="column">
                            <h3>Multi-platform support (PC, Xbox).</h3>
                        </div>
                    </md-list-item>
                    <md-divider></md-divider>
                </md-list>
            </md-content>
        </div>
    </p>
    <br>
    <h1 class="md-display-2">HOW DO I USE THE APP?</h1>
    <p class="md-body-2">
        Here you can see an image of the application with several Points of Interest detailing every component of the application,
        hover over the small red circles with a cross inside to display tooltips on what each component does.
    </p>
    <br>
    <md-divider></md-divider>
    <br>
    <div class="cd-product cd-container">
        <div class="cd-product-wrapper">
            <img src="/lib/tutorial/fullc.png" alt="Preview image">
            <ul>
                <li class="cd-single-point">
                    <a class="cd-img-replace" href="#0">More</a>
                    <div class="cd-more-info cd-right">
                        <h3>ENTER YOUR GAMERTAG</h3>
                        <p>
                            Type your Xbox Live gamertag in the text field and click GO to look at your recent games.
                        </p>
                        <a href="#0" class="cd-close-info cd-img-replace">Close</a>
                    </div>
                </li>
                <!-- .cd-single-point -->

                <li class="cd-single-point">
                    <a class="cd-img-replace" href="#0">More</a>
                    <div class="cd-more-info cd-right">
                        <h3>MATCH HISTORY</h3>
                        <p>
                            Once you enter your gamertag you will find a list of your 10 most recent games.
                        </p>
                        <a href="#0" class="cd-close-info cd-img-replace">Close</a>
                    </div>
                </li>
                <!-- .cd-single-point -->

                <li class="cd-single-point">
                    <a class="cd-img-replace" href="#0">More</a>
                    <div class="cd-more-info cd-right">
                        <h3>PAGE CONTROLS</h3>
                        <p>
                            Use the forward or backwards buttons to retrieve the next 10 games (older) or the previous 10 games (most recent).
                        </p>
                        <a href="#0" class="cd-close-info cd-img-replace">Close</a>
                    </div>
                </li>
                <!-- .cd-single-point -->

                <li class="cd-single-point">
                    <a class="cd-img-replace" href="#0">More</a>
                    <div class="cd-more-info cd-right">
                        <h3>SELECTED MATCH</h3>
                        <p>
                            You can select a match (light blue) to display detailed information about it in the right panel.
                        </p>
                        <a href="#0" class="cd-close-info cd-img-replace">Close</a>
                    </div>
                </li>
                <!-- .cd-single-point -->
                <li class="cd-single-point">
                    <a class="cd-img-replace" href="#0">More</a>
                    <div class="cd-more-info cd-right">
                        <h3>STATISTICS TAB</h3>
                        <p>
                            Click on the statistics tab to obtain a summary of the match including: map, leaders, victors, total units built/lost/destroyed
                            by unit type.
                        </p>
                        <a href="#0" class="cd-close-info cd-img-replace">Close</a>
                    </div>
                </li>
                <!-- .cd-single-point -->
                <li class="cd-single-point">
                    <a class="cd-img-replace" href="#0">More</a>
                    <div class="cd-more-info cd-left">
                        <h3>BATTLES TAB</h3>
                        <p>
                            Click on the battles tab to obtain detailed information on each battle that ocurred during the game.
                        </p>
                        <a href="#0" class="cd-close-info cd-img-replace">Close</a>
                    </div>
                </li>
                <!-- .cd-single-point -->
                <li class="cd-single-point">
                    <a class="cd-img-replace" href="#0">More</a>
                    <div class="cd-more-info cd-left">
                        <h3>FILTER CONTROLS</h3>
                        <p>
                            Use the switches to display only the battles you're most interested in. You can filter by size.
                        </p>
                        <a href="#0" class="cd-close-info cd-img-replace">Close</a>
                    </div>
                </li>
                <!-- .cd-single-point -->
                <li class="cd-single-point">
                    <a class="cd-img-replace" href="#0">More</a>
                    <div class="cd-more-info cd-left">
                        <h3>BATTLE INFO CARD</h3>
                        <p>
                            This is the battle info card. A single game can contain many battle cards with very detailed information. Such as who won
                            said battle, army composition, reinforcements (if any) and much more.
                        </p>
                        <a href="#0" class="cd-close-info cd-img-replace">Close</a>
                    </div>
                </li>
                <!-- .cd-single-point -->
                <li class="cd-single-point">
                    <a class="cd-img-replace" href="#0">More</a>
                    <div class="cd-more-info cd-right">
                        <h3>ARMY COST</h3>
                        <p>
                            Here you can see the Supply, Power and Population Cost for your army (black), as well as how many resources you lost (red).
                            The player with the highest population at the end of the battle is declared the winner.
                        </p>
                        <a href="#0" class="cd-close-info cd-img-replace">Close</a>
                    </div>
                </li>
                <!-- .cd-single-point -->
                <li class="cd-single-point">
                    <a class="cd-img-replace" href="#0">More</a>
                    <div class="cd-more-info cd-right">
                        <h3>ARMY COMPOSITION</h3>
                        <p>
                            Units that compose an army at a given time are displayed individually, and you can compare it with your enemy's. For example
                            you can see the army was composed of four grunts and a chopper, three of them were killed.
                        </p>
                        <a href="#0" class="cd-close-info cd-img-replace">Close</a>
                    </div>
                </li>
                <!-- .cd-single-point -->
                <li class="cd-single-point">
                    <a class="cd-img-replace" href="#0">More</a>
                    <div class="cd-more-info cd-top">
                        <h3>REINFORCEMENTS COMPOSITION</h3>
                        <p>
                            Aditionally, you can see both player's reinforcements. Units built during the battle or dropped by leader powers are shown
                            here.

                        </p>
                        <a href="#0" class="cd-close-info cd-img-replace">Close</a>
                    </div>
                </li>
                <!-- .cd-single-point -->
                <li class="cd-single-point">
                    <a class="cd-img-replace" href="#0">More</a>
                    <div class="cd-more-info cd-top">
                        <h3>OUTCOME</h3x>
                            <p>
                                The bottom portion of the Battle Info Card shows the outcome of the battle, detailing the size of the battle, the game time
                                it ocurred on, amount of units killed and of course each of the units killed.
                            </p>
                            <a href="#0" class="cd-close-info cd-img-replace">Close</a>
                    </div>
                </li>
                <!-- .cd-single-point -->
                <li class="cd-single-point">
                    <a class="cd-img-replace" href="#0">More</a>
                    <div class="cd-more-info cd-top">
                        <h2>REMOVE CARD</h2>
                        <p>
                            Click this button when you don't want to display a certain card anymore. Don't worry, reselecting a match brings it back!
                        </p>
                        <a href="#0" class="cd-close-info cd-img-replace">Close</a>
                    </div>
                </li>
                <!-- .cd-single-point -->
                <li class="cd-single-point">
                    <a class="cd-img-replace" href="#0">More</a>
                    <div class="cd-more-info cd-left">
                        <h2>UNIT DETAILS</h2>
                        <p>
                            At any time in any of the panels you can click a specific unit to obtain detailed data about it such as costs and which enemy
                            units contributed to the unit getting killed.
                        </p>
                        <a href="#0" class="cd-close-info cd-img-replace">Close</a>
                    </div>
                </li>
                <!-- .cd-single-point -->
            </ul>
        </div>
    </div>
    <br>
    <md-divider></md-divider>
    <br>
    <p class="md-body-2">
        Feedback is highly appreciated: <a href="mailto:isaachaloelrey13@gmail.com">isaachaloelrey13@gmail.com</a>
    </p>
    <p class="md-caption">
        This application is offered by Acid Sloth, which is solely responsible for its content. It is not sponsored or endorsed by
        Microsoft. This application uses the Halo® Game Data API. Halo © 2017 Microsoft Corporation. All rights reserved.
        Microsoft, Halo, and the Halo Logo are trademarks of the Microsoft group of companies.
    </p>
    <br>
    <br>
</div>