<div>
    <p class="md-body-2 justify">
        The Halo Wars 2 Battle Tracker App is your personal Halo Wars 2 companion and provides you with detailed information on your
        games for you to improve your skils. Get crucial insights on every match and find out where you shine and where you
        need to improve on.
    </p>
    <p class="md-body-2">
        <div flex>
            <md-content style="background:none;">
                <md-list flex>
                    <md-list-item class="md-3-line">
                        <img ng-src="/lib/tutorial/sof.jpg" class="md-avatar" alt="-" />
                        <div class="md-list-item-text" layout="column">
                            <h3 class="wrap">Paginated List of all your 1v1 matches.</h3>
                            <div flex>
                                <md-button style="background:white;color:#03a9f4;" layout="row">
                                    <div flex="30">
                                        <img src="https://content.halocdn.com/media/Default/games/halo-wars-2/maps/map-frontier-4116c5c6e92e41e1907e3b793252d4b1.jpg"
                                            alt="" class="avatar" />
                                    </div>
                                    <div flex>
                                        <p class="list-details"><b>VICTORY on VAULT</b></p>
                                        <p class="list-details">LEADER: THE ARBITER</p>
                                        <p class="list-details">JUL 13, 2017 5:35:14 PM</p>
                                    </div>
                                </md-button>
                            </div>
                        </div>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item class="md-3-line">
                        <img ng-src="/lib/tutorial/sof.jpg" class="md-avatar" alt="-" />
                        <div class="md-list-item-text" layout="column">
                            <h3 class="wrap">Detailed performance on each Battle.</h3>
                            <div style="width:60%;padding:2%">
                                <md-grid-list md-cols="4" md-cols-xs="6" md-cols-sm="8" md-row-height="1:1" md-gutter-gt-sm="3px">
                                    <md-grid-tile class="grid-tile" style="background: rgb(200,200,200)" md-colspan="2" md-rowspan="2" md-colspan-sm="2" md-colspan-xs="2">
                                        <md-tooltip md-direction="right">INSIGHT CHARTS</md-tooltip>
                                        <battle-chart-component style="top:0;left:0;" type="true" army="::model.example"></battle-chart-component>
                                    </md-grid-tile>

                                    <md-grid-tile class="grid-tile" style="background: rgb(100,100,100)" md-colspan="2" md-rowspan="2" md-colspan-sm="2" md-colspan-xs="2">
                                        <battle-chart-component type="false" army="::model.example"></battle-chart-component>
                                    </md-grid-tile>
                                </md-grid-list>
                            </div>
                        </div>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item class="md-3-line">
                        <img ng-src="/lib/tutorial/sof.jpg" class="md-avatar" alt="-" />
                        <div class="md-list-item-text" layout="column">
                            <h3 class="wrap">Each Battle contains detailed information on costs, units and kills.</h3>
                            <div style="width:60%;padding:2%">
                                <md-grid-list md-cols="4" md-cols-xs="6" md-cols-sm="8" md-row-height="1:1" md-gutter-gt-sm="3px">

                                    <md-grid-tile class="grid-tile" style="background:#b2ff59" md-rowspan="1" md-colspan="4" md-colspan-sm="2" md-colspan-xs="3"
                                        md-rowspan-xs="1">
                                        <md-tooltip md-direction="right">LEADER AND PLAYER INFO</md-tooltip>
                                        <div class="leader-div">
                                            <img ng-src="https://content.halocdn.com/media/Default/games/halo-wars-2/leaders/arbiter-ripa-moramee-cropped-ed512f910d0b4f9d9563c94bda2f9b70.png"
                                                alt="" class="leader" />
                                        </div>
                                        <md-grid-tile-footer class="leader-tile-footer">
                                            <h3 style="color:white;padding-left:4%;width:100%">AwesomePlayer</h3>
                                        </md-grid-tile-footer>
                                    </md-grid-tile>

                                    <md-grid-tile class="grid-tile" style="background: white;" md-rowspan="2" md-colspan="4" md-colspan-sm="3" md-colspan-xs="3">
                                        <md-tooltip md-direction="right">ARMY RESOURCE COST</md-tooltip>
                                        <div class="resource-text">
                                            <h3>ARMY</h3>
                                            <h3>18 UNITS</h3>
                                        </div>
                                        <div class="resource-vertical-divider">
                                            <div class="resource-data">
                                                <ng-md-icon icon="layers"></ng-md-icon> 2735/750
                                                <br/>
                                                <ng-md-icon icon="flash_on"></ng-md-icon> 480/40
                                                <br/>
                                                <ng-md-icon icon="group"></ng-md-icon> 42/13
                                            </div>
                                        </div>
                                    </md-grid-tile>
                                </md-grid-list>
                            </div>
                        </div>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item class="md-3-line">
                        <img ng-src="/lib/tutorial/sof.jpg" class="md-avatar" alt="-" />
                        <div class="md-list-item-text" layout="column">
                            <h3 class="wrap">Check detailed information on units.</h3>
                            <div style="width:60%;padding:2%">
                                <md-grid-list md-cols="3" md-cols-xs="6" md-cols-sm="8" md-row-height="1:1" md-gutter-gt-sm="3px">
                                    <md-grid-tile class="grid-tile" style="background:rgb(50,50,75)" md-rowspan="2" md-colspan="2">
                                        <md-tooltip md-direction="right">SUPER UNITS</md-tooltip>
                                        <img src="https://content.halocdn.com/media/Default/games/halo-wars-2/unit-icons/build/cov_veh_scarab_01_icon-b5ad53ae5ac846a2ac0dde74edcb5227.png"
                                            alt="" class="unit-icon" />
                                    </md-grid-tile>

                                    <md-grid-tile class="grid-tile" style="background:#80d8ff" md-rowspan="1" md-colspan="1">
                                        <md-tooltip md-direction="right">BLUE PLAYER UNITS</md-tooltip>
                                        <img src="https://content.halocdn.com/media/Default/games/halo-wars-2/unit-icons/build/cov_air_shroud_01_icon-f3b2deb2677a423dbb66a0881a93c0e2.png"
                                            alt="" class="unit-icon" />
                                    </md-grid-tile>

                                    <md-grid-tile class="grid-tile" style="background:#ff8a80" md-rowspan="1" md-colspan="1">
                                        <md-tooltip md-direction="right">RED PLAYER UNITS</md-tooltip>
                                        <img src="https://content.halocdn.com/media/Default/games/halo-wars-2/unit-icons/build/unsc_veh_scorpion_01_icon-d6badab7f8a941188f8153d24df1102d.png"
                                            alt="" class="unit-icon" />
                                    </md-grid-tile>
                                </md-grid-list>
                            </div>
                        </div>
                    </md-list-item>
                </md-list>
            </md-content>
        </div>
    </p>
</div>