<div>
    <h1 class="md-display-2">WELCOME TO THE HALO WARS 2 COMMANDER APP</h1>
    <p class="md-body-2 justify">
        Commander App is your personal Halo Wars 2 companion and provides you with the best detailed information on your games for
        you to improve your skils. Get crucial insights on every match and find out where you shine and where you need to
        improve on. The app is currently in BETA phase and supports only Halo Wars 2 on the 1v1 Ranked Playlist. More gamemodes
        can be considered for the future such as Blitz and Skirmish.
    </p>
    <p class="md-body-2">
        <div flex>
            <md-content>
                <md-list flex>
                    <md-subheader class="md-no-sticky">Commander App's Features:</md-subheader>
                    <md-list-item class="md-3-line">
                        <img ng-src="/lib/tutorial/sof.jpg" class="md-avatar" alt="-" />
                        <div class="md-list-item-text" layout="column">
                            <h3 class="wrap">Paginated List of all your 1v1 matches.</h3>
                            <h4 class="wrap">Type in your gamertag to see all your 1v1 matches.</h4>
                            <p class="wrap">You can also take a look at other people's games!</p>
                        </div>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item class="md-3-line">
                        <img ng-src="/lib/tutorial/sof.jpg" class="md-avatar" alt="-" />
                        <div class="md-list-item-text" layout="column">
                            <h3 class="wrap">
                                Summary of each match.
                            </h3>
                            <h4 class="wrap">Data includes map, leaders, victors, total units built/lost/destroyed by unit type.</h4>
                            <p class="wrap">You can see which of your units never survive or which units you had trouble getting rid of!</p>
                        </div>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item class="md-3-line">
                        <img ng-src="/lib/tutorial/sof.jpg" class="md-avatar" alt="-" />
                        <div class="md-list-item-text" layout="column">
                            <h3 class="wrap">Detailed performance of each match in the form of Battles.</h3>
                            <h4 class="wrap">Battles are determined by the amount of units that died in a linked period of time.</h4>
                            <p class="wrap">Battles can be classified by small, medium or large.</p>
                        </div>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item class="md-3-line">
                        <img ng-src="/lib/tutorial/sof.jpg" class="md-avatar" alt="-" />
                        <div class="md-list-item-text" layout="column">
                            <h3 class="wrap">Filter out battles by size using the controls at the top of the Battles tab.</h3>
                            <h4 class="wrap">You can also remove specific battles by clicking the Remove button on its card.</h4>
                        </div>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item class="md-3-line">
                        <img ng-src="/lib/tutorial/sof.jpg" class="md-avatar" alt="-" />
                        <div class="md-list-item-text" layout="column">
                            <h3 class="wrap">Each Battle contains detailed information on costs, units and kills.</h3>
                            <h4 class="wrap">Battles show your current Battle as well as reinforcements (units built in during the duration
                                of a battle).</h4>
                            <p class="wrap">
                                You can see which player won each battle and see how much resources your army cost as well as how much resources you lost.
                            </p>
                        </div>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item class="md-3-line">
                        <img ng-src="/lib/tutorial/sof.jpg" class="md-avatar" alt="-" />
                        <div class="md-list-item-text" layout="column">
                            <h3 class="wrap">Check detailed information on each unit.</h3>
                            <h4 class="wrap">You can see individual costs, as well as indicators for Living and Dead units.</h4>
                            <p class="wrap">By clicking a specific unit of interest you can see which units killed it.</p>
                        </div>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item class="md-3-line">
                        <img ng-src="/lib/tutorial/sof.jpg" class="md-avatar" alt="-" />
                        <div class="md-list-item-text" layout="column">
                            <h3 class="wrap">Multi-platform support (PC, Xbox).</h3>
                        </div>
                    </md-list-item>
                    <md-divider></md-divider>
                </md-list>
            </md-content>
        </div>
    </p>
</div>