<div>
    <md-toolbar>
        <h1>Match History</h1>
    </md-toolbar>
    <div layout-padding>
        <md-content>
            <form name="model.gamertagForm" ng-disabled="model.disableSelecting" ng-submit="model.changeGamertag()">
                <div layout="column" layout-padding>
                    <div layout="row">
                        <md-input-container class="md-block" flex>
                            <label>Enter your Gamertag</label>
                            <input required name="gamertag" ng-model="model.gamertag" maxlength="15" ng-pattern="/^[a-zA-Z0-9 ]+$/" />

                            <div ng-messages="model.gamertagForm.$valid" role="alert">
                                <div ng-message-exp="['required', 'maxlength', 'pattern']">
                                    You must enter a valid Xbox Live Gamertag.
                                </div>
                            </div>
                        </md-input-container>

                        <div class="md-actions">
                            <md-button ng-disabled="!model.gamertagForm.$valid || model.disableSelecting" class="md-accent md-raised date-row" type="submit" class="date-row" aria-label="GO">
                                <ng-md-icon icon="search"></ng-md-icon>
                            </md-button>

                            <div layout="row" layout-sm="column" layout-align="center center" aria-label="wait" style="height:70px;" ng-show="model.disableSelecting">
                                <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </md-content>
    </div>
    <md-content>
        <md-list style="overflow-x: hidden;">
            <div layout="row" layout-align="center center" ng-show="model.playerRecentMatches.length">
                <md-button class="md-icon-button md-accent" aria-label="Rewind" ng-click="model.forward()" ng-disabled="(model.disableSelecting || model.page === 1)">
                    <ng-md-icon icon="fast_rewind"></ng-md-icon>
                </md-button>
                Page {{model.page}}
                <md-button class="md-icon-button md-accent" aria-label="Forward" ng-click="model.backward()" ng-disabled="model.disableSelecting">
                    <ng-md-icon icon="fast_forward"></ng-md-icon>
                </md-button>
            </div>
            <md-divider></md-divider>
            <div ng-repeat="match in model.playerRecentMatches | orderBy: '-date'">

                <md-list-item>
                    <div flex>
                        <md-button ng-disabled="model.disableSelecting" ng-click="model.selectMatch(match)" ng-class="{'selected': match === model.selected}"
                            layout="row">
                            <div flex="30">
                                <img ng-src="{{::match.mapMediaUrl}}" alt="{{::match.map}}" class="avatar" />
                            </div>
                            <div flex>
                                <p class="list-details"><b>{{::match.result}} on {{::match.map}}</b></p>
                <p class="list-details">LEADER: {{::match.leader}}</p>
                <p class="list-details">{{::match.date | date:'medium'}}</p>
            </div>
            </md-button>
</div>
</md-list-item>
<md-divider></md-divider>
</div>
</md-list>
</md-content>
</div>
<!--
<md-button class="md-fab md-fab-bottom-right" ng-click="model.addUser($event)">
    <ng-md-icon icon="add"></ng-md-icon>
</md-button>
-->