<div layout="row">

    <div layout="vertical">
        <md-sidenav class="md-sidenav-left" style="" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" md-whiteframe="4">
            <div>
                <match-history-component selected="model.selected" />
            </div>
        </md-sidenav>
    </div>
    <div layout="column" flex id="wrapper">
        <div>
            <md-toolbar class="md-hue-2">
                <div class="md-toolbar-tools">
                    <md-button hide-gt-sm class="md-icon-button" ng-click="model.toggleSideNav()">
                        <md-icon md-svg-icon="./lib/svg/menu.svg"></md-icon>
                    </md-button>
                    <h1>Match Details</h1>
                    <md-fab-speed-dial md-direction="down" class="md-scale md-fab-top-right">
                        <md-fab-trigger>
                            <md-button class="md-fab">
                                <ng-md-icon icon="build"></ng-md-icon>
                            </md-button>
                        </md-fab-trigger>
                        <md-fab-actions>
                            <md-button class="md-fab md-raised md-mini">
                                <ng-md-icon icon="face"></ng-md-icon>
                                <md-tooltip md-direction="left">Contact</md-tooltip>
                            </md-button>
                            <md-button class="md-fab md-raised md-mini" ng-click="model.clearNotes($event)">
                                <ng-md-icon icon="clear_all"></ng-md-icon>
                                <md-tooltip md-direction="left">Clear all notes</md-tooltip>
                            </md-button>
                        </md-fab-actions>
                    </md-fab-speed-dial>
                </div>
            </md-toolbar>
        </div>

        <md-content flex id="content">

            <md-tabs md-dynamic-height="" md-stretch-tabs="always" md-selected="model.tabIndex">
                <md-tab label="Statistics">
                    <div>
                        <match-statistics-component selected="model.selected" />
                    </div>
                </md-tab>
                <md-tab label="Battles">
                    <div>
                        <match-battles-component match="model.selected.matchId" player1="model.selected.player1" player2="model.selected.player2" />
                    </div>
                </md-tab>
            </md-tabs>

        </md-content>
    </div>
</div>