<div layout="row" layout-fill>
    <div ng-init="model.init()"></div>
    <div layout="vertical">
        <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="4">
            <match-history-component selected="model.selected" disable-paging="model.disablePaging" disable-selecting="model.disableSelecting"
            />
        </md-sidenav>
    </div>
    <div flex id="wrapper" layout="column">
        <md-content flex id="content" layout-fill style="padding:0% !important">
            <md-toolbar class="md-hue-2 main-toolbar">
                <div class="md-toolbar-tools">
                    <md-button hide-gt-md class="md-icon-button" ng-click="model.toggleSideNav()" aria-label="Menu">
                        <ng-md-icon icon="menu"></ng-md-icon>
                    </md-button>
                    <img src="/lib/logoblack.png" alt="" style="height:40px;width:auto;filter: invert(100%);">
                    <h1 flex md-truncate>HW2C</h1>
                    <!-- Desktop Buttons -->
                    <md-button class="md-icon-button" aria-label="Favorite" ng-click="model.showInstructions($event)" hide-xs hide-sm>
                        <ng-md-icon icon="gamepad"></ng-md-icon>
                        <md-tooltip md-direction="bottom">Instructions</md-tooltip>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="More" ng-click="model.showAbout($event)" hide-xs hide-sm>
                        <ng-md-icon icon="help"></ng-md-icon>
                        <md-tooltip md-direction="bottom">About</md-tooltip>
                    </md-button>
                    <!-- Mobile Buttons -->
                    <md-fab-speed-dial md-direction="down" class="md-scale md-fab-top-right" hide-gt-sm>
                        <md-fab-trigger>
                            <md-button class="md-fab" aria-label="More">
                                <ng-md-icon icon="build"></ng-md-icon>
                            </md-button>
                        </md-fab-trigger>
                        <md-fab-actions>
                            <md-button class="md-fab md-raised md-mini" ng-click="model.showInstructions($event)" aria-label="Instructions">
                                <ng-md-icon icon="gamepad"></ng-md-icon>
                                <md-tooltip md-direction="left">Instructions</md-tooltip>
                            </md-button>
                            <md-button class="md-fab md-raised md-mini" ng-click="model.showAbout($event)" aria-label="About">
                                <ng-md-icon icon="help"></ng-md-icon>
                                <md-tooltip md-direction="left">About</md-tooltip>
                            </md-button>
                        </md-fab-actions>
                    </md-fab-speed-dial>
                </div>
            </md-toolbar>
            <div ng-show="model.selected" layout-padding>
                <md-tabs md-dynamic-height="" md-stretch-tabs="always" md-selected="model.tabIndex">
                    <md-tab label="Summary">
                        <div>
                            <match-statistics-component selected="model.selected" disable-selecting="model.disableSelecting" />
                        </div>
                    </md-tab>
                    <md-tab label="Battles">
                        <div>
                            <match-battles-component match="model.selected.matchId" selected="model.selected" disable-selecting="model.disableSelecting"
                                disable-paging="model.disablePaging" />
                        </div>
                    </md-tab>
                </md-tabs>
            </div>

            <div ng-if="!model.selected" hide-sm hide-xs>
                <div class="main-background">
                    <div class="main-frame">
                        <div style="text-align:center">
                            <img src="/lib/logoblack.png" alt="" style="height:75px;width:auto;filter: invert(100%);">
                            <h1 style="color:white;font:bold">BATTLE TRACKER</h1>
                            <h3 style="color:white;font:caption">Halo Wars 2 stat tracker on the Go</h3>
                        </div>
                        <welcome-component></welcome-component>
                    </div>
                </div>
            </div>

            <div ng-if="!model.selected" class="main-mobile-background" hide-gt-sm>
                <img class="main-mobile-background-img" src="http://www.allthingsxbox.net/wp-content/uploads/2017/02/Halo-Wars-2-review.jpeg"
                    alt="">

                <div style="border: 3px solid white;border-radius:20px;position:relative;margin: 5%;text-align:center;height:40%">
                    <img src="/lib/logoblack.png" alt="" style="height:75px;width:auto;filter: invert(100%);">
                    <h1 style="color:white;font:bold">BATTLE TRACKER</h1>
                    <h3 style="color:white;font:caption">Halo Wars 2 stat tracker on the Go</h3>
                </div>

                <div style="padding: 0% 3% 0% 3%;width:100%">
                    <md-grid-list md-cols="6" md-cols-xs="6" md-cols-sm="8" md-row-height="1:1" md-gutter-gt-sm="3px">

                        <md-grid-tile class="grid-tile" style="background:#b2ff59" md-colspan-sm="2" md-colspan-xs="3" md-rowspan-xs="1">
                            <md-tooltip md-direction="right">LEADER AND PLAYER INFO</md-tooltip>
                            <div class="leader-div">
                                <img ng-src="https://content.halocdn.com/media/Default/games/halo-wars-2/leaders/colony-cutout-3-5414bcf8c05b4c2e86e046b95c9e8734.png"
                                    alt="" class="leader" />
                            </div>
                            <md-grid-tile-footer class="leader-tile-footer">
                                <h3>xXAwesomePlayerXx</h3>
                            </md-grid-tile-footer>
                        </md-grid-tile>

                        <md-grid-tile class="grid-tile" style="background:#FFC107" md-rowspan="1" md-colspan="1">
                            <md-tooltip md-direction="right">HERO UNITS</md-tooltip>
                            <img src="https://content.halocdn.com/media/Default/games/halo-wars-2/unit-icons/unsc_inf_herojerome_01_icon-6076379be714429289df159463d0af6e.png"
                                alt="" class="unit-icon" />
                        </md-grid-tile>

                        <md-grid-tile class="grid-tile" style="background:rgb(50,50,75)" md-rowspan="2" md-colspan="2">
                            <md-tooltip md-direction="right">SUPER UNITS</md-tooltip>
                            <img src="https://content.halocdn.com/media/Default/games/halo-wars-2/unit-icons/build/cov_veh_scarab_01_icon-b5ad53ae5ac846a2ac0dde74edcb5227.png"
                                alt="" class="unit-icon" />
                        </md-grid-tile>

                        <md-grid-tile class="grid-tile" style="background:#80d8ff" md-rowspan="1" md-colspan="1">
                            <md-tooltip md-direction="right">BLUE PLAYER UNITS</md-tooltip>
                            <img src="https://content.halocdn.com/media/Default/games/halo-wars-2/unit-icons/build/cov_air_shroud_01_icon-f3b2deb2677a423dbb66a0881a93c0e2.png"
                                alt="" class="unit-icon" />
                        </md-grid-tile>

                        <md-grid-tile class="grid-tile" style="background: rgb(200,200,200)" md-rowspan="2" md-colspan-sm="2" md-colspan-xs="2">
                            <md-tooltip md-direction="right">INSIGHT CHARTS</md-tooltip>
                            <battle-chart-component style="top:0;left:0;" type="true" army="::model.example"></battle-chart-component>
                        </md-grid-tile>

                        <md-grid-tile class="grid-tile" style="background:#ff8a80" md-rowspan="1" md-colspan="1">
                            <md-tooltip md-direction="right">RED PLAYER UNITS</md-tooltip>
                            <img src="https://content.halocdn.com/media/Default/games/halo-wars-2/unit-icons/build/unsc_veh_scorpion_01_icon-d6badab7f8a941188f8153d24df1102d.png"
                                alt="" class="unit-icon" />
                        </md-grid-tile>

                        <md-grid-tile class="grid-tile" style="background: rgb(100,100,100)" md-rowspan="2" md-colspan-sm="2" md-colspan-xs="2">
                            <battle-chart-component type="false" army="::model.example"></battle-chart-component>
                        </md-grid-tile>
                    </md-grid-list>
                </div>
            </div>
        </md-content>
    </div>
</div>